<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>

  <% if(errorMsg){ %>
	<div class="container">
		<div class="alert alert-danger mx-auto d-block" style="width : 50%;"><b><%= errorMsg %></b></div>
	</div>
  <% } %>	

	<div class="container">
		<h1 class="text-center">Add Product</h1>
    <br>
		<div class="row">
			<div class="col-sm-2"></div>
				<div class="col-sm-8">
					<div class="card" style="background-color:#E9ECEF;">
						<div class="card-body">
							<form action="" method="POST">
								<div class="form-group">
									<label><b>Product Title</b></label>
									<input type="text" class="form-control" name="title">
								</div>
								<div class="form-group">
									<label><b>Price</b></label>
									<input type="number" class="form-control" name="price" step="0.01">
								</div> 
								<div class="form-group">
									<label><b>Product Description</b></label>
									<textarea class="form-control" name="description" rows="3"></textarea>
								</div>
								<div class="form-group">
									<label class="imageFileContainer">
										<img src="/images/image-icon.png" width="60" height="60">
										<input type="file">
										<span><b> Add Image</b></span>		
									</label>		
								</div>
								<input type="hidden" name="_csrf" value="<%= csrfToken %>">
								<button class="btn btn-primary btn-block mybtn-corner" type="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
			<div class="col-sm-2"></div>
		</div>
	</div>

    


<!-- FOOTER -->
<%- include('../includes/footer.ejs') %>