<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>

  <div class="container">
   <% if(prods.length > 0) { %> 
    <h1>All Your Products</h1><br><br>
   <% } %>

    <!-- ALL PRODUCTS -->
    <div class="row">
      <div class="col-sm-12">
       <% let productCount = prods.length ;  %>
        <% if(prods.length > 0){
          let i = 0 ;
          while(productCount){ %>
            <div class="row">
              <div class="col-sm-4">
                <div class="card shadow mb-3 bg-white">
                  <h5 class="card-header text-center"><i><%= prods[i].title %></i></h5>
                    <div class="card-body">
                      <img src="<%= prods[i].image %>" class="mx-auto d-block" width="50%" height="150" ><br>
                      <h6><b>Price : $ <%= prods[i].price %> /-</b></h6>
                      <p><small><%= prods[i].description %></small></p>
                      <br>
                      <input type="hidden" name="prodId" value="<%= prods[i]._id %>">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                      <a href="/admin/edit-product/<%=prods[i]._id %>"><button class="btn btn-outline-primary btn-block mybtn-corner">Edit Product</button></a>
                      <!-- <a href="/admin/delete-product/<%=prods[i]._id %>"><button class="btn btn-outline-danger btn-block mybtn-corner">Delete Product</button></a> -->
                      <button class="btn btn-outline-danger btn-block mybtn-corner" type="button" onclick="deleteProd(this)">Delete Product</button>
                    </div>
                  </div>
              </div>
              <!-- SECOND PRODUCT IN SAME ROW -->
              <% productCount--  ;
               i++; 
                if(productCount){
              %>
              <div class="col-sm-4">
                  <div class="card shadow mb-3 bg-white">
                    <h5 class="card-header text-center"><i><%= prods[i].title %></i></h5>
                      <div class="card-body">
                        <img src="<%= prods[i].image %>" class="mx-auto d-block" width="50%" height="150" ><br>
                        <h6><b>Price : $ <%= prods[i].price %> /-</b></h6>
                        <p><small><%= prods[i].description %></small></p>
                        <br>
                        <input type="hidden" name="prodId" value="<%= prods[i]._id %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <a href="/admin/edit-product/<%=prods[i]._id %>"><button class="btn btn-outline-primary btn-block mybtn-corner">Edit Product</button></a>
                        <!-- <a href="/admin/delete-product/<%=prods[i]._id %>"><button class="btn btn-outline-danger btn-block mybtn-corner">Delete Product</button></a> -->
                        <button class="btn btn-outline-danger btn-block mybtn-corner" type="button" onclick="deleteProd(this)">Delete Product</button>
                      </div>
                    </div>
                </div>

                <!-- THIRD PRODUCT IN SAME ROW -->
                <%  
                  productCount-- ; 
                  i++; 
                }  
                 
                 if(productCount){ %>
                <div class="col-sm-4">
                    <div class="card shadow mb-3 bg-white">
                      <h5 class="card-header text-center"><i><%= prods[i].title %></i></h5>
                        <div class="card-body">
                          <img src="<%= prods[i].image %>" class="mx-auto d-block" width="50%" height="150" ><br>
                          <h6><b>Price : $ <%= prods[i].price %> /-</b></h6>
                          <p><small><%= prods[i].description %></small></p>
                          <br>
                          <input type="hidden" name="prodId" value="<%= prods[i]._id %>">
                          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                          <a href="/admin/edit-product/<%=prods[i]._id %>"><button class="btn btn-outline-primary btn-block mybtn-corner">Edit Product</button></a>
                          <!-- <a href="/admin/delete-product/<%=prods[i]._id %>"><button class="btn btn-outline-danger btn-block mybtn-corner">Delete Product</button></a> -->
                          <button class="btn btn-outline-danger btn-block mybtn-corner" type="button" onclick="deleteProd(this)">Delete Product</button>
                        </div>
                      </div>
                  </div>
               
               <% productCount-- ;
                  i++ ;
                 } %> 
            </div>
              
         <% }
        } %>   
      </div>
  </div>

  <% if(prods.length <= 0){ %> 
    
    <img src="/images/admin-products.jpg" class="mx-auto d-block" width="250" height="230">
    <br>
    <h3 class="text-muted text-center">No Registered Products</h3>

  <%}%> 

</div>

 <!-- FOOTER -->
 <%- include('../includes/footer.ejs') %>

 <script src="/js/admin.js"></script>