<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>

   <div class="container">
       <h2>Your Cart</h2><br>
      <div class="row">
         <div class="col-sm-7">

        <% if(prods.length > 0){ 
            for(product of prods){ %>

             <div class="card">
                 <div class="card-body">
                     <div class="row">
                         <div class="col-sm-4">
                             <img src="<%= product.data.image %>" width="100%" height="150px">
                         </div>
                         <div class="col-sm-1"></div>
                         <div class="col-sm-7">
                            <h5><b><%= product.data.title %></b></h3>
                            <p><small><%= product.data.description %></small></p>
                            <p><b>Price : <%= product.data.price %> /- </b></p>
                            <p class="float-right"><b>Quantity : <%= product.qty %></b></p>
                            <button class="btn btn-sm btn-outline-danger mybtn-corner">Remove</button>
                            <button class="btn btn-sm btn-outline-success mybtn-corner">Checkout</button>
                         </div>
                     </div>
                 </div>
             </div>

         <%   }
            }
             else{
         %>
          <div class="alert alert-danger">Cart is Empty Now</div>
        <% } %>

          </div>

          <div class="col-sm-1"></div>

          <div class="col-sm-4">
              <% if(prods.length > 0){ %>
               <h4>Bill :</h4><hr>
              <% for(product of prods){ %>
               <p><%= product.data.title %> (<%= product.qty %>) : <span class="float-right">₹ <%= product.data.price %></span> </p>
              <% } %>
              <hr>
              <h5>Total Amount : <span class="float-right">₹ <%= total %></span></h5>  
             <% } %>
          </div>
      </div>
   </div>


<!-- FOOTER -->
<%- include('../includes/footer.ejs') %>