<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>

   <div class="container">
       <% if(prods.lenght > 0) { %>
        <h2>Your Cart</h2><br>
       <% } %>
        
      <div class="row">
         <div class="col-sm-7">
             
        <% if(prods.length > 0){    
            for(product of prods){
                let price = product.prodId.price * product.qty ; %>

             <div class="card shadow mb-3 bg-white">
                 <div class="card-body">
                     <div class="row">
                         <div class="col-sm-4">
                             <img src="<%= product.prodId.image %>" width="100%" height="150px">
                         </div>
                         <div class="col-sm-1"></div>
                         <div class="col-sm-7">
                            <h5><b><%= product.prodId.title %></b></h3>
                            <p><small><%= product.prodId.description %></small></p>
                            <p><b>Price : <%= price %> /- </b></p>
                            <p class="float-right"><b>Quantity : <%= product.qty %></b></p>
                            <a href="/delete-cart/<%= product.prodId._id %>"><button class="btn btn-sm btn-outline-danger mybtn-corner">Remove</button></a>
                         </div>
                     </div>
                 </div>
             </div>

         <%   }
            }
             else{
         %>
         <div>
             <h3 class="text-center">CART IS EMPTY NOW</h3>
         </div>
        <% } %>

          </div>

          <div class="col-sm-1"></div>

          <div class="col-sm-4">
              <% if(prods.length > 0){ %>
                <div class="card shadow mb-3 bg-white">
                    <div class="card-body">
                        <h4>Your Cart Order</h4><hr>
                        <% for(product of prods){ 
                            let price = product.prodId.price * product.qty ;  
                            %>
                            <p><%= product.prodId.title %> (<%= product.qty %>) : <span class="float-right">₹ <%= price %></span> </p>
                        <% } %>
                        <hr>
                        <h5>Total Amount : <span class="float-right">₹ <%= total %></span></h5>  
                        <% } %>
                    </div>
                </div>
                <% if(prods.length > 0){ %>
                <form method="POST" action="/order">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-block shadow btn-success mybtn-corner">Order All</button>
                </form>
                <% } %>
          </div>
      </div>
   </div>


<!-- FOOTER -->
<%- include('../includes/footer.ejs') %>