<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>

  <div class="container">
    <h1>Products</h1><br><br>
    
    <!-- ALL PRODUCTS -->
    <div class="row">
      <div class="col-sm-6">
        <% if(prods.length > 0){
          for(let product of prods){ %>
          <div class="card">
          <h4 class="card-header text-center"><i><%= product.title %></i></h4>
            <div class="card-body">
              <img src="<%= product.image %>" class="mx-auto d-block" width="50%" height="170" ><br>
              <h5><b>Price : ₹ <%= product.price %> /-</b></h5>
              <p><%= product.description %></p>
              <br>
              <button class="btn btn-outline-primary mybtn-corner">Add to Cart</button>
              <button class="btn btn-outline-primary mybtn-corner float-right">View Details</button>
            </div>
          </div>
         <% }
        } else{  %>
          <div class="alert alert-danger"><b>No Products</b></div>
       <% }%>   
      </div>

      <!-- SIDE WIDGETS -->
      <div class="col-sm-6"></div>
    </div>
   
  </div>



 <!-- FOOTER -->
 <%- include('../includes/footer.ejs') %>