<!-- HEADER LINKS INCLUDE -->
<%- include('../includes/header.ejs') %>   

<!-- NAVBAR -->
<%- include('../includes/nav.ejs'); %>
    
    <div class="container">
     <div class="row">
         <div class="col-sm-3"></div>
         <div class="col-sm-6">
             <div class="card shadow bg-white w-3">
                 <div class="card-body">
                   <img src="<%= product.image %>" class="card-img-top mx-auto d-block" style="max-height: 200px; max-width: 60%;">
                   <h4 class="text-center"><%= product.title %></h4>
                   <br>
                   <h5>Price : ₹ <%= product.price %></h5>
                   <p><small><%= product.description %></small></p>
                   <br>
                   <form action="/cart" method="POST" class="myForm">
                    <input type="hidden" name="productId" value="<%= product._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button class="btn btn-outline-primary btn-block mybtn-corner" type="submit">Add to Cart</button>
                  </form>
                 </div>
             </div>
         </div>
         <div class="col-sm-3"></div>
     </div>    
    </div>



<!-- FOOTER -->
<%- include('../includes/footer.ejs') %>